{% extends "base.html.twig" %}
{% import "macros/alert.html.twig" as alert %}
{% import "macros/projet-bar.html.twig" as ProjectBar %}

{% block title %}
	{{parent()}}
	Accueil
{% endblock %}

{% block body %}
	<h1>Mes Projets</h1>
	{% for label, messages in app.flashes %}
		{% for msg in messages %}
			{{alert.alert(msg, label)}}
		{% endfor %}
	{% endfor %}

	<p>
		Mes
		{{projets|length}}
		projets
	</p>

	{% for projet in projets %}
		{{ProjectBar.ProjectBar(projet, true)}}
	{% endfor %}
{% endblock %}
