{% extends "base.html.twig" %}
{% import "macros/alert.html.twig" as alert %}
{% import "macros/talent-bar.html.twig" as SkillBar %}

{% block title %}
	{{parent()}}
	Accueil
{% endblock %}

{% block body %}
	<h1>Mes talents</h1>
	{% for label, messages in app.flashes %}
		{% for msg in messages %}
			{{alert.alert(msg, label)}}
		{% endfor %}
	{% endfor %}

	<p>
		Mes
		{{talents|length}}
		talents
	</p>

	{% for talent in talents %}
		{{SkillBar.SkillBar(talent, true)}}
	{% endfor %}
{% endblock %}
