{% extends "base.html.twig" %} {# Permet d'afficher correctement les talents dans la page d'acceuil (index.html.twig) #}
{% import "macros/talent-bar.html.twig" as SkillBar %}

{% block title %}
	{{parent()}}
	{{talent.title}}
{% endblock %}
{% block body %}
	<h1>Mon project : {{talent.title}} </h1>
	{{SkillBar.SkillBar(talent, false)}}

{% endblock %}
