{% extends "base.html.twig" %}

{% block body %}
	<div class="my-5"></div>
	<h1 class="text-center py-5">Merci à vous !!! &#x1F60D;</h1>

	<h3 class="d-flex justify-content-center mt-3">Une page dédiée aux remerciements des personnes qui ont rendu la réalisation de ce site possible !</h3>
	<br>
	<p class="text-center text-justify mt-3">
		<b>Chris CHEVALIER</b> - allias l'homme qui a rendu ce site possible
		<br><br>
		<b>Matthieu GAUDRY</b> - allias l'homme qui a rendu ce site possible en moins bien
		<br><br>
		<b>Maxime RICHARD</b> - allias l'alcoolique
		<br><br>
		<b>Ismaël KHERMIMOUN</b> - allias l'homme au 1000 prompts
		<br><br>
		<b>Loukas POIRIER</b> - allias l'homme au 1000 canettes
		<br><br>
		<b>Moi</b> - allias l'homme au complet mayo
	</p>

{% endblock %}
